

.hello-world-button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 15px;
    background: greenyellow;
    color: indianred;
    outline: none;
    border: none;
}

.hello-world-text {
    color: green;
    font-weight: bold;
}