.back-button {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    background: khaki;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    margin: 5px;
}

.back-button:hover {
    background: sandybrown;
    border: 1px solid rgba(0, 0, 0, 0.692);
    color: rgb(24, 5, 37);
}