<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
</head>

<body>
    <div class="alert alert-primary" role="alert">
        This is a primary alert-check it out!
    </div>
    <div class="dropdown my-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenuButton" data-toggle="dropdown" aria-haspopup="true">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
            <a href="#" class="dropdown-item">Action</a>
            <a href="#" class="dropdown-item">Another Action</a>
            <a href="#" class="dropdown-item">Something else here</a>
        </div>
    </div>
    <i class="fas fa-spinner fa-spin"></i>
</body>

</html>